# This file should contain requirements to be installed via Pip.
--extra-index-url https://maven.earthdata.nasa.gov/repository/python-repo/simple
numpy ~= 1.18.4
pyyaml ~= 5.3.1
harmony-service-lib ~= 0.0.37
